.weathercard{
    font-weight: bolder !important;
    font-family: inherit;
    font-size: xx-large;
    height: 70vh;
}

.icon-left {
    position: absolute;
    top: 10px;
    left: 10px;
}

.icon-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.snowflake{
    color: blue;
}

.sun{
    color: red;
}

.cold{
    background-color: #53cdf1;
}

.warm{
    background-color: orange;
}